.about{
  margin: 0 auto;
  align-items: center;
  padding: 0 2rem;
  width: 100%;


}

.about > h3 {
  padding: 1rem 0;
}

@media screen and (min-width: 600px){
 .about{
  padding: 0 5rem;

} 
}

@media screen and (min-width: 992px){
 .about{
  padding: 0 8rem;

} 
}