

.app{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;
  
}

.bottomSpace{
  padding: 0.1rem;
}

.app > main{
  margin-top:  3.4rem;
  width: 100%;
  height: 100vh;
  flex: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.6rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ddd;

}

@media screen and (min-width: 600px){
  .app > main{
  padding: 0 1.8rem;
  }

}

@media screen and (min-width: 992px){
  .app > main{
  padding: 0 3rem;
  }
  
}

