.homeParagraph {
  margin: 0.2rem;
  width: 70vw;
}

.home{
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  margin: auto 0.3rem;

}
.MovieList{
  margin-top: 0.2rem;

}

.SearchForm{
  margin-top: 0.5rem;
}

@media screen and (min-width: 700px){
  
  .home{
    margin: auto 3rem;
  }
}

@media screen and (min-width: 992px){
  
  .home{
    margin: auto 5rem;
  }
}