.homeParagraph {
  margin: 0.2rem;
  width: 70vw;
}

.home{
  margin: 7rem 0rem;
  width: 100%;

}

.SearchForm{
  margin: 0;
}
.MovieList{
  margin-top: 0.2rem 0;

}


@media screen and (min-width: 700px){
  
  .home{
    margin: 8rem 0rem;
  }
}

@media screen and (min-width: 992px){
  
  .home{
    margin: 10rem 0rem;
  }
}