.container{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1.8rem auto;
}

.container > h1 {
  margin-bottom: 0.7rem ;
  font-size: 1.8rem;
}

.container > ul{
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}

@media screen and (min-width: 576px) {
  .container > ul {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}


