.container{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2.7rem auto;
}

.container h1{
  margin-bottom: 0.7rem;

}


.hero{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 1.3rem;
  animation-name: shift;
  animation-duration: 14s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0 auto;
}

.imgContainer{
  width: 50%;
  display: flex;
  margin: 0 auto;

}

.imgContainer> img {
  max-width: 100%;
  border-radius: 3px;

}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  padding-bottom: 0.8rem ;
}

.center > h1 {
  margin: 0.5rem 0;
}

.readMoreContainer{
  display: flex;
  flex-direction: column;
}


.readMore{
  height: 3rem;
  overflow: hidden;
  transition: var(--transition);
}

.showLess{
  transition: var(--transition);
}


.readMoreBtn{
  color: var(--primary-color-1);
  cursor: pointer;
  transition: linear 100ms;
}

.footer{
  display: flex;
  width: 100% ;
  flex-direction: column;
  padding-bottom: 2.7rem ;
  margin-top: 0.7rem;
}

.footerBtnContainer{
  margin: 1rem 0 ;
}



@keyframes shift {
  0% { background-position: 25% center}
  100% { background-position: center center ;}


}





@media screen and (min-width: 600px){
  .hero{
    padding: 4rem 3.6rem;
    padding-bottom: 50rem ;
    flex-direction: row;
    animation-duration: 17s;

  }

  .imgContainer{
  width: 40%;
  margin-right: 1.5rem;
}

  .center{
        
    width: 60%;
    align-items: flex-start;
  }

  .center > h1 {
    margin-top: 0;
    padding-top: 0;
  }

  
@keyframes shift {
  0% { background-position: 35% center}
  100% { background-position: center center ;}


}

  

}

@media screen and (min-width: 992px){
  .hero{
    padding: 5rem 7rem;
    padding-bottom: 30rem;
    animation-duration: 14s;

  }

  .imgContainer{
  width: 25%;
  margin-right: 2rem;

  
}

@keyframes shift {
  0% { background-position: 25% center}
  100% { background-position: center center ;}


}

  

  
}