.hero{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 7rem 1.3rem;
  width: 100%;
  height: 100%;
  animation-name: shift;
  animation-duration: 7s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.desktopTitle{
  display: none;
}
.header{
  padding-bottom:  1rem;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem ;
}
.imgContainer> img {
  width: 100%;
  height: 100%;
  border-radius: 3px;

}

.imgContainer{
  width: 40vw;
}

.footer{
  display: flex;
  width: 100% ;
  flex-direction: column;
  padding-bottom: 3rem ;
}

.footerBtnContainer{
  margin: 1rem 0 ;
}

.desktopFooter{
  display: none;
}

@keyframes shift {
  0% { background-position: 40% center}
  50% { background-position: 50% center}
  100% { background-position:center ;}


}





@media screen and (min-width: 600px){
  .phoneTitle{
    display: none;
  }

  .desktopTitle{
  display: block;
}

  .hero{
    padding: 7rem 3.6rem;
    padding-bottom: 50rem ;
    height: 100%;
  }

  .imgContainer{
    margin-right: 2rem ;
    display: flex;
    flex: 1;
  }

  .centerInfo{
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .centerInfo > h1{
    margin-bottom: 1rem;

  }


  .center{

    flex-direction: row;
    align-items: flex-start;
  }

  

}

@media screen and (min-width: 992px){
  .hero{
    padding: 9rem 7rem;
    padding-bottom: 40rem;
  }


  .centerInfo{
    flex: 2;
  }

  .desktopFooter{
    padding-top: 1rem ;
    display: block;
  }

  .footer{
    display: none;
  }
  
}