.container{
  width: 100%;
  padding: 15px 0px;
  background-color: var( --primary-background-color-2);
  
}


.center{
  display: flex;
  margin: 0 auto;

  width: 90vw;
  max-width: 1170px ;
  justify-content: space-between;
  align-items: flex-end;
  
}
.navbarCenter > div {
  align-items: center;
}


.navbarLinks{
  display: flex;
  flex: 1;
  justify-content: space-around;
}


@media screen and (min-width: 600px){
  .navbarLinks{
  flex: 0.5;
  }

}

@media screen and (min-width: 992px){
  .navbarLinks{
  flex: 0.3;
  }

}