.navbarContainer{
  width: 100%;
  padding: 15px 0px;
  background-color: var( --secondary-background-color);
  
  position: fixed;
  top: 0;
}


.navbarCenter{
  display: flex;
  margin: 0 auto;

  width: 90vw;
  max-width: 1170px ;
  justify-content: space-between;
  align-items: center;
  
}
.navbarCenter > div {
  align-items: center;
}

.navbarHeader{
  display: flex;
  align-items: center;
  width: 100%;

}

.navbarHeader > h3 {
  margin-right: 5px;
}
.navbarLinks{
  display: flex;
  width: 10rem;
  justify-content: space-around;
}


.navbarLinks > li{
  transition: var(--transition);
  
  
}

.navLogo{
  margin-right: 3px;
  background-color: var(--primary-color-1);
  color:  var( --secondary-background-color);
  padding: 3px;
  border-radius: 10px;

}

.navLogo > h3 {
  font-size: 1.4rem;
  font-weight: 600;
}


.navbarLinks > li:hover{
  transition: var(--transition);
  transform: scale(1.1);

}


@media screen and (min-width: 600px){
  .navbarLinks{
    width: 15rem;
  }

}
