
.searchForm > form{
  align-items: center;
  display: flex;
}

.searchFormLabel{
  margin-right: 6px;
}

.searchFormInput{
  background-color: #ddd;
  border: none;
  border-radius: 10px;
  padding: 5px;
}