.searchForm{
  align-self: center ;
  width: 100%;

}

.searchFormForm{
  width: 100%;
  display: flex;
  background-color: var(--secondary-background-color);
  padding: 1rem;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
}

.searchFormLabel{
  margin-right: 0.8rem;
  font-size: 2rem;

}

.searchFormInput{
  
  border-radius: 0.3rem;
  border: none;
  padding: 0.4rem 0.4rem  0rem 0.4rem;
  font-size: 1.3rem;

}