.searchForm {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.center {
  width: 100%;
  display: flex;
  background-color: var(--primary-bg-2);
  padding: 1rem;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
}

.label {
  margin: 0 0.8rem;
  font-size: 1.8em;
}

.searchBar {
  margin-right: 0.8rem;
  width: 50%;
  border-radius: 0.3rem;
  border: none;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  font-size: 1.3em;
}
