:root{
  --primary-color-1: #790f08;
  --primary-color-2: #b11f14;


  --primary-background-color: #222226;
  --secondary-background-color: #111114;
  --text-primary-color: #fff;

  --text-secondary-color: #fff;

  --text-color-light: #fffefe;
  --text-color-light-focus: #fff;


  --transition: all ease-in-out 300ms;

}
#root{
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 300;
  
}

html, body {
  height: 100%;
  min-height: 100%;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary-color);
  background: var(--primary-background-color);
  scroll-behavior: smooth;
}




li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-light);
  transition: var(--transition);
  transform: scale(10);

}

a:hover{
  color: var(--text-color-light-focus);
  transition:  ease-in 300ms;
}



button, .btn{
  padding:  5px;
  border-radius: 5px;
  background: var(--primary-color-1);
  color: var(--text-color-light);
  transition: var(--transition);
  
}
button:hover, .btn:hover{
  background: var(--primary-color-2);
  color: var(--text-color-light-focus);
  transition: var(--transition);
  transform: scale(1.05);
  cursor: pointer;

}

.btn-container{
  padding: 1rem;
}

.section{
  padding: 0.7rem;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}






