:root{
  --primary-color-1: #790f08;
  --primary-color-2: #b11f14;


  --primary-background-color: #222226;
  --secondary-background-color: #111114;
  --text-primary-color: #fff;

  --text-secondary-color: #fff;

  --text-color-light: #fffefe;
  --text-color-light-focus: #fff;


  --transition: all ease-in-out 300ms;

}
#root{
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 300;
  
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary-color);
  background: var(--primary-background-color);
  scroll-behavior: smooth;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.3em;
}

p{
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: 0.23em;
  font-size: 0.8rem;
  color: #ccc;
  
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-light);
  transition: var(--transition);
  
}

a:hover, a:focus, a:active{
  color: var(--text-color-light-focus);
  transition:  ease-in 300ms;
  transform: scale(1.03);
}




button, .btn{
  padding:  0.2em;
  border-radius: 0.2em;
  background: var(--primary-color-1);
  color: var(--text-color-light);
  transition: var(--transition);
  border: none;
  
}
button:hover, .btn:hover{
  background: var(--primary-color-2);
  color: var(--text-color-light-focus);
  transition: var(--transition);
  cursor: pointer;

}



.section{
  margin: 5rem auto;
  padding: 1rem;
}

.currentLink > a{
  color: var(--primary-color-2);

}




